body {
  text-align: start;
  font-family: Arial, sans-serif;
}
/*바디 화면비율 조절*/
@media (max-width: 320px) {
  body {
    font-size: 14px;
    width: 99%;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  body {
    font-size: 16px;
    width: 99%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  body {
    font-size: 18px;
    width: 105%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  body {
    font-size: 20px;
    width: 98%;
  }
}
/*헤더 화면 반응형*/
@media (min-width: 1024px) {
  header {
    max-width: 86%;
  }
}
@media (min-width: 1920px) {
  header {
    max-width: 85%;
  }  
}
/*서치바 화면비율*/
@media (min-width: 1024px) {
  .search-input {
    width: 70%;
  }
}
@media (min-width: 1920px) {
  .search-input {
    width: 60%;
  }
}
/*메인 배너사진 화면비례*/
@media (min-width: 320px) {
  .main-banner {
    max-width: 87%;
    max-height: 100%;
    margin: auto;
  }
  .main-banner img {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (min-width: 1024px) {
  .main-banner {
    max-width: 81%;
    max-height: 100%;
    margin: auto;
  }
}
@media (min-width: 1920px) {
  .main-banner {
    max-width: 81%;
    max-height: 100%;
    margin: auto;
  }
}
/*배너이미지 화면비율*/
@media (min-width: 320px) {
  .middle-banner img {
    width: 80%;
    height: auto;
    margin-top: 5%;
  }
}
@media (min-width: 375px) {
  .middle-banner img {
    width: 70%;
    height: auto;
    margin-top: 5%;
  }
}
@media (min-width: 425px) {
  .middle-banner img {
    width: 44%;
    height: auto;
    margin-top: 5%;
  }
}
@media (min-width: 480px) {
  .middle-banner img {
    width: 39%;
    height: auto;
    margin-top: 5%;
  }
}
@media (min-width: 768px) {
  .middle-banner img {
    width: 37%;
    height: auto;
    margin-top: 5%;
  }
}
@media (min-width: 1024px) {
  .middle-banner img {
    width: 32%;
    height: auto;
    margin-top: 0%;
  }
}
@media (min-width: 1440px) {
  .middle-banner img {
    width: 28%;
    height: auto;
    margin-top: 0%;
  }
}
@media (min-width: 1920px) {
  .middle-banner img {
    width: 26%;
    height: auto;
    margin-top: 0%;
  }
} 
/*로우 배너 카드 반응형*/
@media (min-width: 320px) and (max-width: 374px) {
  .news-cards {
    grid-template-columns: 1fr; /* 한 줄에 하나의 카드 */
    justify-items: center; /* 카드 중앙 정렬 */
  }
  .card {
    width: 90%; /* 카드 너비를 90%로 설정 */
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .news-cards {
    grid-template-columns: 1fr; /* 한 줄에 하나의 카드 */
    justify-items: center; /* 카드 중앙 정렬 */
  }
  .card {
    width: 48%;
    margin-right: 52%;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .news-cards {
    grid-template-columns: repeat(1, 1fr); /* 한 줄에 하나의 카드 */
    justify-items: center; /* 카드 중앙 정렬 */
  }
  .card {
    width: 90%; /* 카드 너비를 90%로 설정 */
  }
}
/*사이드바 화면 반응형 */
@media (min-width: 320px) and (max-width: 374px) {
  .sidebar {
    top: 20%;
    right: 1%;
    width: 17%;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .sidebar {
    top: 21%;
    right: 1%;
    width: 15%;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .sidebar {
    top: 20%;
    right: 1%;
    width: 9%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar {
    top: 21%;
    right: 1%;
    width: 8%;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .sidebar {
    top: 20%;
    right: 3%;
    width: 8%;
  }
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .sidebar {
    top: 21%;
    right: 5%;
    width: 6%;
  }
}
@media (min-width: 1920px) and (max-width: 2560px) {
  .sidebar {
    top: 22%;
    right: 5%;
    width: 5%;
  }
}



/* 컨테이너 */
.container {
  margin: 20px auto;
}
/* Header */
header {
  display: flex;
  max-width: 1920px;
  height: 80px;
  margin-bottom: 10px;
  place-items: anchor-center;
  background-color: hsla(0, 0%, 100%, 0.1);
  justify-content: space-around;
}
.navbar {
  display: flex;
  align-items: center;
  height: 48px;
  border: none;
  padding: 20px;
}
.nav-btn {
  display: flex;
  font-size: 0.8rem;
  margin: 0 15px;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}
/*로그인-버튼*/
.login-btn,
.signup-btn {
  height: 12px;
  width: 53px;
  display: flex;
  margin: 4px;
  font-size: 0.9rem;
  background-color: #eeeeee;
  color: #000000;
  cursor: pointer;
  font-weight: 400;
  border: none;
  border-radius: 20px;
  padding: 6px 14px 6px 14px;
  align-items: center;
  justify-content: space-around;
}
.login-btn:hover,
.signup-btn:hover {
  color: #2e6ff2;
  cursor: pointer;
  font-weight: bold;
}
/*헤더-끝*/

/*서치바*/
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.search-input {
  width: 80%;
  height: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding-left: 20px;
}
.search-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: -50px;
}
/*서치바-끝*/

/* Main Content 스타일 */
.main-banner {
  padding: 20px;
  box-sizing: border-box;
}
.main-banner img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
/*메인-배너-끝*/

/*
미들-로우 
배너-타이틀
*/
.banner-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*미들-배너*/
.middle-banner {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-left: 3%;
  margin-right: 17%;
  margin-top: 1%;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border:2px solid transparent;
}
/*미들-공지사항-배너*/
.alert-box {
  width: 80%;
  height: 272px;
  margin-bottom: 10px;
  border-right: 2px solid #eeeeee;
}
dd{
  display: flex;
}
.alert-link {
  font-size: 0.9rem;
  font-weight: 400;
  font-style: normal;
  border-top: 1px solid #eeeeee;
  padding-top: 2%;
  padding-bottom: 2%;
  line-height: 2;
  max-height: calc(1em * 2);
  overflow: hidden;
}
.day {
  display: flex;
  font-size: 12px;
}
.alert-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
/*미들-도서-배너*/
.ad-banner {
  width: auto;
  height: auto;
  margin-left: 7%;
}
.ad-banner-title {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  margin-top: -100%;
  width: 191%;
}
.middle-banner img {
  border-radius: 10px;
  position: absolute;
  margin-left: -3%;
}
/*미들 배너 끝*/


/*로우-배너-타이틀*/
.news-title {
  font-size: 24px;
  border-bottom : 2px solid #eeeeee;
}
/*로우-배너-카드*/
.news-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  margin: 4%;
}
.card {
  width: 350px;
  background-color: white;
  border-radius: 12px;
  /* 부드러운 그림자 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* 이미지 모서리를 둥글게 처리하기 위함 */
}
.card-image {
  width: 100%;
  height: 200px; /* 요청하신 크기 */
  object-fit: cover;
  display: block;
}
.card-2 .card-header {
  display: flex;
  align-items: center;
  padding: 15px 20px 10px; /* 이미지 위에 헤더 배치 */
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* 원형 프로필 */
  object-fit: cover;
  margin-right: 10px;
  background-color: #ccc; /* Placeholder 색상 */
}
.header-text-group {
  text-align: left;
}
.card-2 .card-title {
  font-size: 14px; /* 헤더 안의 제목은 좌측 카드보다 작게 */
  margin: 0;
}
.secondary-text {
  font-size: 12px;
  color: #888;
  margin: 0;
}
/* 카드-아이콘-스타일 */
.footer-social {
  justify-content: space-between; /* Read 링크와 아이콘 그룹을 양쪽으로 분리 */
}
.read-link-arrow {
  display: flex;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.icon-group {
  display: flex;
  gap: 32px;
  color: #888;
  font-size: 19px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-right: 4%;
}
.icon {
  cursor: pointer;
}
.card:hover {
 box-shadow: 0px 4px 8px black;
transform: rotateY('angle');
}
/*로우-배너-끝*/


/* 
Sidebar 스타일 
*/
.sidebar {
  position: absolute;
  text-align: center;
  cursor: pointer;
}
.sidebar-img {
  width: 100%;
  height: auto;
}



/* Footer 스타일 */
footer {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #f5f5f5;
  flex-wrap: wrap;
  justify-content: center;
}

